.menu{
	text-align: right;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  overflow: hidden;
  background-color: #A24500; 

}
li{	
	display: inline;
}

li a{
	size: 20px;
	color: white;
	padding: 10px 14px;
}

h1{
	text-align: center;
}
a{
	font-size: 25px;
}
body{
	background-color: #E58137;
}


.etiquet{
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	margin: 3px;
}


.search{
	display: inline;
}


/*body{
	background: url(https://wallpaperscute.com/wp-content/uploads/2018/04/Rick-and-Morty-iPhone-8-Wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.9;}


header{
	background: rgb(185, 117, 117); 

.contents{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	float: left;
	}
*/

	


